{% extends "hello_base.html" %}
{% load staticfiles %}

{% block title %} Edit Contacts | 42-test-skl1f{%endblock%}
{% block extra_head %}
    <link href="{% static "css/datepicker.css" %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
    </div>
<form class="form-horizontal" id="ContactsForm">
<div class="row">
<div class="col-md-6">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Jane">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLastName" class="col-sm-2 control-label">Lastname:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLastName" placeholder="Doe">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDatePicker" class="col-sm-2 control-label">Date Of Birth:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputDatePicker">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFile" class="col-sm-2 control-label">Photo:</label>
    <div class="col-sm-10">
      <input type="file" id="inputFile">
      <p class="help-block">Photo will be resized to 200x200 format.</p>
    </div>
  </div>
  </div>
<div class="col-md-6">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
    </div>
  </div>
  <div class="form-group">
    <label for="inputJabber" class="col-sm-2 control-label">Jabber:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputJabber" placeholder="name@jabber.me">
    </div>
  </div>
  <div class="form-group">
    <label for="inputSkype" class="col-sm-2 control-label">Skype:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSkype" placeholder="your skype name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputOtherContacts" class="col-sm-2 control-label">Other Contacts:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputOtherContacts" rows="3" placeholder="Any other contacts should be here."></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputBio" class="col-sm-2 control-label">Bio:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputOtherContacts" rows="3" placeholder="Place for yout bio."></textarea>
    </div>
  </div>
  </div>
</div>
<div class="row">
<div class="col-md-6">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
      <button type="reset" class="btn btn-default">Cancel</button>
    </div>
  </div>
</div>
</div>
<div class="row" id="result"></div>
</form>
</div>
        <script type="text/javascript">
                 /* AJAX request for contact info */
                function callServerAsync(){
                    $.ajax({
                    dataType: "json",
                    url: '/api/contacts/',
                    success: function(response) {
                        successCallback(response);
                    }
                });
                };

                function successCallback(responseObj){
                    var transform = {'tag':'li','html':'Request method: ${request_method}; Full path: ${full_path}; Remote_addr: ${remote_addr}; http user agent: ${http_user_agent}; http referer: ${http_referer}; http accept language: ${http_accept_language}'};
                    document.getElementById('requests').innerHTML = json2html.transform(responseObj,transform);
                };
                
                $(document).ready(function () {
                
                $('#inputDatePicker').datepicker({
                    format: "dd/mm/yyyy"
                });  
                
                });
        </script>
<script type="text/javascript">
function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }

$("document").ready(function(){
  $(".form-horizontal").submit(function(){
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
    var data = {
      "name": $('#inputName').val(),
      "lastname": $('#inputLastName').val(),
      "date_of_birth": $('#inputDatePicker').val(),
      "email": $('#inputEmail').val(),
      "jabber": $('#inputJabber').val(),
      "other_contact": $('#inputOtherContacts').val(),
      "bio": $('#inputBio').val(),
      "skype": $('#inputJabber').val(),

    };
    data = $(this).serialize() + "&" + $.param(data);
    $.ajax({
      type: "POST",
      dataType: "json",
      cache: false,
      url: "/api/contacts/", //Relative or absolute path to response.php file
      data: data,
      success: function(data) {
        alert("data\n");
      }
    });
    return false;
  });
});
</script>
{% endblock %}