{% extends "hello_base.html" %}
{% load staticfiles %}

{% block title %} Edit Contacts | 42-test-skl1f{%endblock%}
{% block extra_head %}
    <link href="{% static "css/datepicker.css" %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
    </div>
<form class="form-horizontal">
<div class="row">
<div class="col-md-6">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Jane">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLastName" class="col-sm-2 control-label">Lastname:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputLastName" placeholder="Doe">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDatePicker" class="col-sm-2 control-label">Date Of Birth:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputDatePicker">
    </div>
  </div>
  <div class="form-group">
    <label for="inputFile" class="col-sm-2 control-label">Photo:</label>
    <div class="col-sm-10">
      <input type="file" id="inputFile">
      <p class="help-block">Photo will be resizet to 200x200 format.</p>
    </div>
  </div>
  </div>
<div class="col-md-6">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
    </div>
  </div>
  <div class="form-group">
    <label for="inputJabber" class="col-sm-2 control-label">Jabber:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputJabber" placeholder="name@jabber.me">
    </div>
  </div>
  <div class="form-group">
    <label for="inputSkype" class="col-sm-2 control-label">Skype:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSkype" placeholder="your skype name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputOtherContacts" class="col-sm-2 control-label">Other Contacts:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputOtherContacts" rows="3" placeholder="Any other contacts should be here."></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="inputBio" class="col-sm-2 control-label">Bio:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputOtherContacts" rows="3" placeholder="Place for yout bio."></textarea>
    </div>
  </div>
  </div>
</div>
<div class="row">
<div class="col-md-6">
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
      <button type="reset" class="btn btn-default">Cancel</button>
    </div>
  </div>
</div>
</div>
</form>
</div>
        <script type="text/javascript">
            $(document).ready(function () {
                
                $('#inputDatePicker').datepicker({
                    format: "dd/mm/yyyy"
                });  
            
            });
        </script>
{% endblock %}