{% extends "hello_base.html" %}

{% block title %}( {{ counter.value }} ) Main Page | 42-test-skl1f{%endblock%}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6"><h2>About me:</h2>
            <ul class="list-unstyled">
                <li>Name: {{ contact.name }}</li>
                <li>Last Name: {{ contact.lastname }}</li>
                <li>Bio: {{ contact.bio }}</li>
            </ul>
            </div>
            <div class="col-md-6"><h2>Contacts:</h2>
            <ul class="list-unstyled">
                <li>Email: {{ contact.email }}</li>
                <li>Jabber: {{ contact.jabber }}</li>
                <li>Skype: {{ contact.skype }}</li>
                <li>Other contact: {{ contact.other_contact }}</li>
            </ul></div>
        </div>
        </div>
{% endblock %}