{% extends "hello_base.html" %}
{% load staticfiles %}

{% block title %}Main Page | 42-test-skl1f{%endblock%}

{% block content %}
<script src="{% static "js/json2html.js" %}"></script>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6"><h2>About me:</h2>
            <ul class="list-unstyled">
                <li>Name: {{ contact.name }}</li>
                <li>Last Name: {{ contact.lastname }}</li>
                <li>Bio: {{ contact.bio }}</li>
            </ul>
            </div>
            <div class="col-md-6"><h2>Contacts:</h2>
            <ul class="list-unstyled">
                <li>Email: {{ contact.email }}</li>
                <li>Jabber: {{ contact.jabber }}</li>
                <li>Skype: {{ contact.skype }}</li>
                <li>Other contact: {{ contact.other_contact }}</li>
            </ul></div>
        </div>
        <div class="row">
            <h2>Requests:</h2>
            <div id="requests"></div>
                <script>
                /* AJAX request to checker */
                function callServerAsync(){
                    $.ajax({
                    dataType: "json",
                    url: '/api/requests/',
                    success: function(response) {
                        successCallback(response);
                    }
                });
                };

                function successCallback(responseObj){
                    $.each(responseObj, function(obj) {
                    console.log('<p>'+responseObj[obj]['remote addr']+'</p>');
                    });
                    var transform = {'tag':'li','html':'Request method: ${request_method}; Full path: ${full_path}; Remote_addr: ${remote_addr}; http user agent: ${http_user_agent}; http referer: ${http_referer}; http accept language: ${http_accept_language}'};
                    document.getElementById('requests').innerHTML = json2html.transform(responseObj,transform);
                };

                callServerAsync();
                setInterval(callServerAsync,10000);
                </script>
{% endblock %}